Flask==2.2
Flask-BasicAuth
flask_cors
Flask-SQLAlchemy==3.0.3
Flask-Admin
flask-user==1.0.2.2
flask-wtf==0.15.1
flask-login
Flask-Security>=1.7.5
pymssql==2.2.7
WTForms==3.0.1
email_validator
apscheduler